<h1>Cálculo do CDB</h1>
<div class="container-fluid mx-10">
  <div class="row py-2">
    <div class="col-md-2">Valor Initial:</div>
    <div class="col-md-4"><input [class]="'form-control' + (operation.principal <= 0 ? ' is-invalid' : '')" type="number" min="0" [(ngModel)]="operation.principal"></div>
  </div>
  <div class="row py-2">
    <div class="col-md-2">Tempo em meses:</div>
    <div class="col-md-4"><input [class]="'form-control' + (operation.months <= 1 ? ' is-invalid' : '')" type="number" min="2" max="360" [(ngModel)]="operation.months"></div>
  </div>
  <div class="row border-bottom py-2">
    <div class="col-md-6 text-end">
      <input type="button" class="btn btn-secondary mx-4" value="Limpar" (click)="reset();" *ngIf="showResults">
      <input type="button" class="btn btn-primary" value="Calcular" (click)="calculateOperation();">
    </div>
  </div>
  <div class="row py-2" *ngIf="showResults">
    <div class="col-md-2">Valor Bruto:</div>
    <div class="col-md-4 text-end">{{grosssValue | currency}}</div>
  </div>
  <div class="row py-2 flex" *ngIf="showResults">
    <div class="col-md-2 align-self-center">Imposto:</div>
    <div class="col-md-4 text-end">{{tax | currency}}</div>
  </div>
  <div class="row py-2" *ngIf="showResults">
    <div class="col-md-2 align-self-center">Valor Líquido:</div>
    <div class="col-md-4 text-end">{{netValue | currency}}</div>
  </div>
</div>
